<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
        <title>movie record</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' >
        <style>body {padding-top: 80px;}</style>
    </head>
    <body>
       
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark mt-3 mb-3">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">movie record</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'myapp:index' %}">ホーム</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'myapp:register2' %}">新規登録</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'myapp:Login' %}">ログイン</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'myapp:home' %}">マイページ</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'myapp:registerdirector' %}">監督を追加</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'myapp:registermovie' %}">作品を追加</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'myapp:writinglog' %}">感想を追加</a>
                    </li>
                </ul>
            </div>
       
        </nav>    
        <div class='container'>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
