{% extends './base.html' %}
{% block content %}


<h3>{{movie.title}}</h3>
<h5>{{movie.director}}</h5>



{% for log in movie.log.all %}
    
    <table  class='table table-striped table-hover'>
        <td>{{ log.text }}</td>
        <td>投稿者：{{  log.user.username }}</td> 
        <td>投稿日：{{ log.watch_date }}</td>

        <hr color="black" >
    </table>


{% endfor %}

<a href="{% url 'myapp:writingthismovielog' pk=movie.pk %}">この作品の感想を書く</a><br>
<a href="{% url 'myapp:deletemovie' pk=movie.pk %}">この作品のデータを削除する</a><br>
<a href="{% url 'myapp:index' %}">ホームに戻る</a><br>

{% endblock %}
